
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Dangrek&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.font-text{
    font-family: "Roboto Condensed", sans-serif !important;
}

@plugin "daisyui"{
    themes: light --default;
}

.bg-img,
.bg-img-2{
    background-image: url("./assets/images/banner2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img-2{
    background: center no-repeat;
    background-image: url("./assets/images/banner4.png");
    background-attachment: fixed;
}
